@{
    ViewBag.Title = "Sobre Nosotros";
}


<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/fonts/BannersKermesse/About.png" alt="Banner 1">
        <div class="carousel-caption">

        </div>
    </div>

</div>

<div style="margin:auto">

    <div style="float: left; width:400px; ">
        <div class="row" style="width: 500px">
            <div class="col-sm-6 col-md-4" style="width: 400px;">
                <div class="thumbnail" style="width:400px">
                    <img src="~/fonts/Miniaturas/Foto.png" alt="... ">
                    <div class="caption">
                        <h3>Cleymer Zavala</h3>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="float: left; width: 400px">
        <div class="row" style="width:500px">
            <div class="col-sm-6 col-md-4" style="width:400px">
                <div class="thumbnail" style="width:400px">
                    <img src="~/fonts/Miniaturas/Foto.png" alt="...">
                    <div class="caption">
                        <h3>David Saenz</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="float: left; width: 400px">
        <div class="row" style="width:400px">
            <div class="col-sm-6 col-md-4" style="width:400px">
                <div class="thumbnail" style="width:400px">
                    <img src="~/fonts/Miniaturas/Foto.png" alt="...">
                    <div class="caption">
                        <h3>Jader Vega</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="float: left; width: 400px">
        <div class="row" style="width:400px">
            <div class="col-sm-6 col-md-4" style="width:400px">
                <div class="thumbnail" style="width:400px">
                    <img src="~/fonts/Miniaturas/Foto.png" alt="...">
                    <div class="caption">
                        <h3>Priscila Tinoco</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="float: left; width: 400px">
        <div class="row" style="width:400px">
            <div class="col-sm-6 col-md-4" style="width:400px">
                <div class="thumbnail" style="width:400px">
                    <img src="~/fonts/Miniaturas/Foto.png" alt="...">
                    <div class="caption">
                        <h3>Rashel Mora</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



