@{
    ViewBag.Title = "Inicio";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" , data-interval="4000">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/fonts/BannersKermesse/1.png" alt="Banner 1">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="~/fonts/BannersKermesse/2.png" alt="Banner 2">
            <div class="carousel-caption">

            </div>
        </div>


        <div class="item">
            <img src="~/fonts/BannersKermesse/3.png" alt="Banner 3">
            <div class="carousel-caption">

            </div>
        </div>

        <div class="item">
            <img src="~/fonts/BannersKermesse/4.png" alt="Banner 4">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style = "background-image: none" >
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-image: none">
        <span class="glyphicon glyphicon-chevron-right" \></span>
        <span class="sr-only">Siguiente</span>
    </a>

</div>

<div class="jumbotron" style="width: 1300px; margin:50px">

   <p>
                La Parroquia Corazón de Jesús María Las Palmas, anualmente realiza de 1 a 3 kermeses para
                recaudar fondos, subsidiar los gastos de servicios básicos y mantenimiento de la iglesia, así
                como también garantizar la manutención de los seminaristas claretianos que residen en el
                seminario.

    </p>

</div>
